---
import LayoutGlobal from '@layouts/LayoutGlobal.astro';
---

<LayoutGlobal>
	<h1 class="mb-8 ~text-3xl/6xl font-expanded font-semibold">
		Oops, Page Not Found
	</h1>
	<p>
		Sorry, the page you are looking for does not exist. Visit the
		<a href="/">home page</a> to find what you are looking for.
	</p></LayoutGlobal
>
