---
import LayoutGlobal from '@layouts/LayoutGlobal.astro';
import { SEO } from 'astro-seo';
import type { Props as SEOProps } from 'astro-seo';
import { reconcileMetadata } from '@utils/reconcileMetadata';

// Example page-level meta config
const metadataPage: Partial<SEOProps> = {
	title: 'Page Title',
	description: 'Welcome to our home page',
	openGraph: {
		basic: {
			title: 'OG title here',
			type: 'website', // required, can be others too
			// TODO: generate path to og image
			image: 'https://myawesomewebsite.com/og-img-placeholder.png',
		},
		// optional: {
		//   video: 'https://myawesomewebsite.com/home-og-video.mp4',
		// },
		image: {
			alt: 'A description of the image',
			width: 1200,
			height: 630,
		},
	},
	// twitter: {
	//   title: 'Twitter Card Title',
	//   description: 'Description for Twitter Card',
	// },
};

const metadataReconciled = reconcileMetadata(metadataPage);
---

<SEO {...metadataReconciled} />

<LayoutGlobal>
	<h1 class="mb-8 ~text-3xl/6xl font-expanded font-semibold tracking-tight">
		Astro Core
	</h1>
	<div class="prose prose-lg max-w-none">
		<h2 class="font-expanded !font-medium">Features</h2>

		<div class="grid gap-8 sm:grid-cols-2">
			<div>
				<h3 class="font-expanded !font-medium">🚀 Built with Astro</h3>
				<ul>
					<li>
						MDX support with <code class="font-mono font-light bg-gray-200 py-1"
							>astro-mdx</code>
					</li>
					<li>
						Head ordering with <code
							class="font-mono font-light bg-gray-200 py-1">astro-capo</code>
					</li>
					<li>
						Compression via <code class="font-mono font-light bg-gray-200 py-1"
							>astro-compressor</code
						>
					</li>
				</ul>
			</div>

			<div>
				<h3 class="font-expanded !font-medium">🎨 Styled with Tailwind CSS</h3>
				<ul>
					<li>
						Responsive fluid typography via <a
							href="https://fluid.tw/"
							class="text-blue-500 no-underline hover:underline"
							>fluid-tailwind</a
						>
					</li>
					<li>Container and aspect ratio utilities</li>
				</ul>
			</div>

			<div>
				<h3 class="font-expanded !font-medium">🎯 SEO optimized</h3>
				<ul>
					<li>Sensible defaults with overrides at the page level</li>
					<li>Automatic sitemap generation</li>
				</ul>
			</div>

			<div>
				<h3 class="font-expanded !font-medium">✨ Other goodies</h3>
				<ul>
					<li>
						Easy site config in <code
							class="font-mono font-light bg-gray-200 py-1"
							>src/config/configGlobal.ts</code
						>
					</li>
					<li>Variable font support via custom Tailwind plugin</li>
					<li>Subsetted Mona Sans VF and Monaspace Argon Var fonts</li>
				</ul>
			</div>
		</div>
	</div>
</LayoutGlobal>
