---
import { SEO } from 'astro-seo';
import type { Props as SEOProps } from 'astro-seo';
import { reconcileMetadata } from '@utils/reconcileMetadata';
import LayoutGlobal from '@layouts/LayoutGlobal.astro';
import LayoutGlobal from '@layouts/LayoutGlobal.astro';

// Example page-level meta config
const metadataPage: Partial<SEOProps> = {
	title: 'Page Title',
	description: 'Welcome to our home page',
	openGraph: {
		basic: {
			title: 'OG title here',
			type: 'website', // required, can be others too
			// TODO: generate path to og image
			image: 'https://myawesomewebsite.com/og-img-placeholder.png',
		},
		// optional: {
		//   video: 'https://myawesomewebsite.com/home-og-video.mp4',
		// },
		image: {
			alt: 'A description of the image',
			width: 1200,
			height: 630,
		},
	},
	// twitter: {
	//   title: 'Twitter Card Title',
	//   description: 'Description for Twitter Card',
	// },
};

const metadataReconciled = reconcileMetadata(metadataPage);
---

<SEO {...metadataReconciled} />

<LayoutGlobal>
	<LayoutGlobal>
		<h1 class="mb-8 ~text-3xl/6xl font-expanded font-semibold">Legal</h1>
		<h2 class="mb-4 ~text-2xl/4xl font-expanded font-semibold">
			Privacy Policy
		</h2>
		<h2 class="mb-4 ~text-2xl/4xl font-expanded font-semibold">
			Terms of Service
		</h2>
	</LayoutGlobal>
</LayoutGlobal>
