---
import Logo from './Logo.astro';
import MenuLarge from './MenuLarge.astro';
import MenuSmall from './MenuSmall.astro';
---

<header class="border-b border-black">
	<div class="container mx-auto flex justify-between items-center p-4">
		<Logo />
		<MenuLarge />
		<MenuSmall />
	</div>
</header>
