---
import { menuLarge } from '../configGlobal';
import type { MenuItem } from '../configGlobal';
---

<nav class="hidden md:flex items-center ~gap-4/8" aria-label="Main navigation">
	{
		menuLarge.map((item: MenuItem) => (
			<a
				href={item.href}
				class="py-2 px-3 hover:text-white hover:bg-black transition-colors">
				{item.label}
			</a>
		))
	}
</nav>
