---
import { Head } from 'astro-capo';
import { ViewTransitions } from 'astro:transitions';
import '@styles/base.css';
import Masthead from '@components/Masthead.astro';
import Footer from '@components/Footer.astro';
---

<html lang="en">
	<Head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<ViewTransitions />
	</Head>
	<body class="flex min-h-screen flex-col">
		<Masthead />
		<div class="container mx-auto ~py-4/8 grow">
			<slot />
		</div>
		<Footer />
	</body>
</html>
